{% extends 'base.html.twig' %}

{% block title %}HR | Edit Employee{% endblock %}

{% block header %}Edit Employee{% endblock %}

{% block sideBar %}
    {{ form_start(form) }}
    <img src="{{ vich_uploader_asset(user, 'imageFile') }}" class="userImg">
{% endblock %}

{% block col60 %}
    <div class="col-60">
        <div class="row">
            <h3>Name</h3>
            {{ form_row(form.name) }}
        </div>
        <div class="row">
            <h3>Email</h3>
            {{ form_row(form.email) }}
        </div>
        <div class="row">
            <h3>Salary</h3>
            {{ form_row(form.salary) }}
        </div>
        <div class="row">
            <h3>Password:</h3>
            {{ form_row(form.password) }}
        </div>
        <div class="row">
            <h3>Department</h3>
            {{ form_row(form.department) }}
        </div>
        <div class="row">
            <h3>Profile Picture</h3>
            {{ form_row(form.imageFile) }}
        </div>
        <div class="row">
            <h3>Boss</h3>
            {{ form_row(form.boss_id) }}
        </div>
        <div class="row">
            <h3>Designation:</h3>
            {{ form_row(form.designation) }}
        </div>
        <hr><br><br>
        <div class="row">
            {{ form_row(form.submitBtn, {'label': 'Edit Employee'}) }}
        </div>
     {{ form_end(form) }}
        <button><a href="{{ path('hr_employee_list') }}">Cancel</a></button>
    </div>
{% endblock %}